@page
@model IndexModel
@{
    ViewData["Title"] = "Average temperature";
}
<div class="text-center">
    <h1 class="display-4">APV</h1>
    <p>
         Average temperature
    </p>
    <br/>
    <br/>
    <div class="image-container">
        <img src="~/plan.jpg" id="planImg" alt="floor plan image"> 
        @{
            if(Model.Readings != null && Model.Readings.Count > 0)
            {
                foreach(var reading in Model.Readings)
                {
                    <div id="@Html.Encode(@reading.SensorId)" class="overlay-text"
                         style="left: @Html.Encode(reading.PositionX)px; top: @Html.Encode(reading.PositionY)px">
                            @reading.Value</div>
                }
            }
        }
        
    </div>
</div>